<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PluginActions</key>
	<dict>
		<key>Hello World</key>
		<dict>
			<key>action</key>
			<string>HelloWorld</string>
			<key>shortcut</key>
			<string>~^@h</string>
		</dict>
		<key>Goodbye Cruel World</key>
		<dict>
			<key>action</key>
			<string>HelloWorld</string>
			<key>options</key>
			<dict>
				<key>message</key>
				<string>Goodbye</string>
				<key>replace</key>
				<true/>
			</dict>
			<key>shortcut</key>
			<string>~^@$h</string>
 			<key>submenu</key>
 			<string>See Also</string>
		</dict>
	</dict>
</dict>
</plist>
